<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Manage Categories</h1>
        <table>
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category[1] }}</td>
                <td>
                    <form action="{{ url_for('delete_category', id=category[0]) }}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <div class="button">
                    <a href="{{ url_for('edit_category', id=category[0]) }}">Edit</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button onclick="location.href='/add_category'">Add New Category</button>
        <button onclick="location.href='{{ url_for('main_menu') }}'">Back to Main Menu</button>
    </div>
</body>
</html>
